In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Take in all of employment and unemployment data and read it into pandas
phoenix_employment = "Resources/phoenix_employment.csv"
phoenix_unemployment = "Resources/phoenix_unemployment.csv"

phoenix_em_df = pd.read_csv(phoenix_employment, index_col=0)
phoenix_un_df = pd.read_csv(phoenix_unemployment, index_col=0)

phoenix_em_df 
phoenix_un_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
1999,1578066,1584222,1585224,1580055,1588296,1596756,1604886,1595958,1600052.0,1604937.0,1614940.0,1622822.0
2000,1593471,1602769,1599895,1607478,1598814,1610811,1605966,1606272,1620675.0,1627557.0,1633557.0,1647067.0
2001,1636850,1648610,1651014,1649485,1647023,1650118,1654691,1642867,1659968.0,1668426.0,1667790.0,1673006.0
2002,1654868,1675135,1675100,1678397,1680127,1688556,1689100,1694967,1707218.0,1708424.0,1710633.0,1709692.0
2003,1697363,1710594,1712821,1724357,1725624,1736581,1729695,1729691,1736622.0,1749473.0,1762317.0,1765233.0
2004,1753874,1762375,1762380,1769489,1772710,1783492,1796584,1790883,1796539.0,1812156.0,1821557.0,1824292.0
2005,1814437,1822286,1827021,1844704,1849858,1860494,1870868,1875603,1882879.0,1898907.0,1905650.0,1909234.0
2006,1901250,1913561,1922139,1928931,1936819,1946039,1953536,1958179,1966730.0,1984257.0,1988557.0,1993927.0
2007,1975145,1978324,1983747,1977695,1980485,1990231,1989870,1986239,1996647.0,1997239.0,2006408.0,1999262.0
2008,1993471,1991054,1988239,1989849,1979651,1978204,1965921,1966181,1971910.0,1978295.0,1973787.0,1958144.0
2009,1929842,1928190,1918768,1923204,1908015,1903307,1893012,1878273,1875567.0,1875513.0,1883069.0,1866026.0
2010,1869615,1874869,1878510,1892588,1880880,1873990,1863136,1863279,1870834.0,1873228.0,1873822.0,1873316.0
2011,1861415,1865691,1873061,1874253,1868695,1855523,1847043,1850762,1864723.0,1876642.0,1885736.0,1887097.0
2012,1874555,1885876,1891035,1891991,1890486,1886259,1878124,1880089,1903003.0,1913210.0,1913745.0,1914778.0
2013,1901053,1911346,1912337,1916742,1916595,1912777,1904422,1906027,1924789.0,1919452.0,1944685.0,1946512.0
2014,1953341,1964689,1982414,1980626,1978109,1981287,1975893,1982457,2003395.0,2021500.0,2035751.0,2033919.0
2015,2034569,2045728,2050610,2056049,2060911,2057488,2058016,2062225,2073948.0,2087268.0,2101642.0,2101329.0
2016,2105712,2123264,2131239,2124317,2127634,2126152,2132749,2137298,2154421.0,2162529.0,2180458.0,2172226.0
2017,2174954,2193379,2203637,2208570,2202374,2208812,2215506,2215958,2244514.0,2240720.0,2259862.0,2252445.0
2018,2254317,2282747,2288154,2286777,2291580,2292952,2306538,2297320,2327702.0,2338006.0,2357448.0,2354244.0
2019,2347408,2366730,2361436,2359228,2365751,2391380,2392982,2389376,NaN,NaN,NaN,NaN

In [3]:
# Refactor employment data
phoenix_em_df.reset_index(level=0, inplace=True)
phoenix_em_df.head()
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
filename = "employment.csv"
with open(filename, 'w') as f:
    f.write("Month,Employment\n")
    num_years = len(phoenix_em_df["Year"])
    for month in range(0,12):
        for year_num in range(0,num_years):
            month_data = round(phoenix_em_df[months[month]][year_num]*1000,0)
            if month_data > 0:
                year = phoenix_em_df["Year"][year_num]
                label = (year*100)+month+1
                month_line = f"{str(label)},{str(month_data)}\n"
                print(month_line)
                f.write(month_line)

199901,1478800.0

200001,1533600.0

200101,1581200.0

200201,1567200.0

200301,1588600.0

200401,1628200.0

200501,1716500.0

200601,1831400.0

200701,1884800.0

200801,1900900.0

200901,1777000.0

201001,1676700.0

201101,1692900.0

201201,1731500.0

201301,1779100.0

201401,1827500.0

201501,1878600.0

201601,1944900.0

201701,1999600.0

201801,2069500.0

201901,2135100.0

199902,1502200.0

200002,1557400.0

200102,1605900.0

200202,1582200.0

200302,1607800.0

200402,1650000.0

200502,1744700.0

200602,1863900.0

200702,1911200.0

200802,1912800.0

200902,1772400.0

201002,1689300.0

201102,1707900.0

201202,1746100.0

201302,1797200.0

201402,1842100.0

201502,1896900.0

201602,1965900.0

201702,2019600.0

201802,2093200.0

201902,2155400.0

199903,1512000.0

200003,1569600.0

200103,1616800.0

200203,1593600.0

200303,1616200.0

200403,1664200.0

200503,1760500.0

200603,1881200.0

200703,1924000.0

200803,1909700.0

200903,1765000.0

201003,1699400.0

201103,1718200.0

201203,1758900.0

201303,1806800.0

201403,1849300.0

201503,1902200.0

201603,1972800.0

201703,2027700.0

201803,2101200.0

201903,2160100.0

199904,1521900.0

200004,1572400.0

200104,1611100.0

200204,1606500.0

200304,1622700.0

200404,1678700.0

200504,1785100.0

200604,1885100.0

200704,1917200.0

200804,1900800.0

200904,1751100.0

201004,1704400.0

201104,1727000.0

201204,1760100.0

201304,1812400.0

201404,1854600.0

201504,1910700.0

201604,1982000.0

201704,2040100.0

201804,2101300.0

201904,2166500.0

199905,1521800.0

200005,1582600.0

200105,1607100.0

200205,1602500.0

200305,1624800.0

200405,1680900.0

200505,1787200.0

200605,1893200.0

200705,1922300.0

200805,1894100.0

200905,1738900.0

201005,1708600.0

201105,1724000.0

201205,1757700.0

201305,1810700.0

201405,1843000.0

201505,1904100.0

201605,1971200.0

201705,2028600.0

201805,2094500.0

201905,2159200.0

199906,1513300.0

200006,1563600.0

200106,1588700.0

200206,1590800.0

200306,1606500.0

200406,1666200.0

200506,1770500.0

200606,1873500.0

200706,1901900.0

200806,1855200.0

200906,1694300.0

201006,1664800.0

201106,1680000.0

201206,1726900.0

201306,1776500.0

201406,1812600.0

201506,1870700.0

201606,1932000.0

201706,2003600.0

201806,2061800.0

201906,2126500.0

199907,1503900.0

200007,1544300.0

200107,1565800.0

200207,1563400.0

200307,1584100.0

200407,1656500.0

200507,1763800.0

200607,1856700.0

200707,1885100.0

200807,1822300.0

200907,1671200.0

201007,1647500.0

201107,1665300.0

201207,1706900.0

201307,1761300.0

201407,1796200.0

201507,1864900.0

201607,1931800.0

201707,1988600.0

201807,2056900.0

201907,2117700.0

199908,1512400.0

200008,1563900.0

200108,1583300.0

200208,1586700.0

200308,1611100.0

200408,1677200.0

200508,1790000.0

200608,1881700.0

200708,1914300.0

200808,1853200.0

200908,1683800.0

201008,1670100.0

201108,1702100.0

201208,1746900.0

201308,1798100.0

201408,1837200.0

201508,1900000.0

201608,1968700.0

201708,2028200.0

201808,2102800.0

201908,2160400.0

199909,1536500.0

200009,1591800.0

200109,1598000.0

200209,1598400.0

200309,1623700.0

200409,1696700.0

200509,1818700.0

200609,1902800.0

200709,1925700.0

200809,1858000.0

200909,1695900.0

201009,1681600.0

201109,1724800.0

201209,1768600.0

201309,1816600.0

201409,1855400.0

201509,1922500.0

201609,1994800.0

201709,2051600.0

201809,2122500.0

199910,1548800.0

200010,1602100.0

200110,1601000.0

200210,1609700.0

200310,1644500.0

200410,1726800.0

200510,1827200.0

200610,1910100.0

200710,1935300.0

200810,1852600.0

200910,1703700.0

201010,1705900.0

201110,1738500.0

201210,1785900.0

201310,1838000.0

201410,1883300.0

201510,1956300.0

201610,2013400.0

201710,2076300.0

201810,2145100.0

199911,1563200.0

200011,1615900.0

200111,1602900.0

200211,1633600.0

200311,1658600.0

200411,1742600.0

200511,1850000.0

200611,1924400.0

200711,1946700.0

200811,1849700.0

200911,1715900.0

201011,1723000.0

201111,1758400.0

201211,1809400.0

201311,1864800.0

201411,1907800.0

201511,1981600.0

201611,2033500.0

201711,2101700.0

201811,2169300.0

199912,1576100.0

200012,1631000.0

200112,1606700.0

200212,1632800.0

200312,1669700.0

200412,1758600.0

200512,1862400.0

200612,1931900.0

200712,1947700.0

200812,1837200.0

200912,1716100.0

201012,1728300.0

201112,1761900.0

201212,1817200.0

201312,1869700.0

201412,1918600.0

201512,1984600.0

201612,2036800.0

201712,2105000.0

201812,2169500.0

In [4]:
# Refactor unemployment data
phoenix_un_df.reset_index(level=0, inplace=True)
filename = "unemployment.csv"
with open(filename, 'w') as f:
    f.write("Month,Unemployment\n")
    num_years = len(phoenix_un_df["Year"])
    for month in range(0,12):
        for year_num in range(0,num_years):
            month_data = phoenix_un_df[months[month]][year_num]
            if month_data > 0:
                year = phoenix_un_df["Year"][year_num]
                label = (year*100)+month+1
                month_line = f"{str(label)},{str(month_data)}\n"
                print(month_line)
                f.write(month_line)

199901,1578066

200001,1593471

200101,1636850

200201,1654868

200301,1697363

200401,1753874

200501,1814437

200601,1901250

200701,1975145

200801,1993471

200901,1929842

201001,1869615

201101,1861415

201201,1874555

201301,1901053

201401,1953341

201501,2034569

201601,2105712

201701,2174954

201801,2254317

201901,2347408

199902,1584222

200002,1602769

200102,1648610

200202,1675135

200302,1710594

200402,1762375

200502,1822286

200602,1913561

200702,1978324

200802,1991054

200902,1928190

201002,1874869

201102,1865691

201202,1885876

201302,1911346

201402,1964689

201502,2045728

201602,2123264

201702,2193379

201802,2282747

201902,2366730

199903,1585224

200003,1599895

200103,1651014

200203,1675100

200303,1712821

200403,1762380

200503,1827021

200603,1922139

200703,1983747

200803,1988239

200903,1918768

201003,1878510

201103,1873061

201203,1891035

201303,1912337

201403,1982414

201503,2050610

201603,2131239

201703,2203637

201803,2288154

201903,2361436

199904,1580055

200004,1607478

200104,1649485

200204,1678397

200304,1724357

200404,1769489

200504,1844704

200604,1928931

200704,1977695

200804,1989849

200904,1923204

201004,1892588

201104,1874253

201204,1891991

201304,1916742

201404,1980626

201504,2056049

201604,2124317

201704,2208570

201804,2286777

201904,2359228

199905,1588296

200005,1598814

200105,1647023

200205,1680127

200305,1725624

200405,1772710

200505,1849858

200605,1936819

200705,1980485

200805,1979651

200905,1908015

201005,1880880

201105,1868695

201205,1890486

201305,1916595

201405,1978109

201505,2060911

201605,2127634

201705,2202374

201805,2291580

201905,2365751

199906,1596756

200006,1610811

200106,1650118

200206,1688556

200306,1736581

200406,1783492

200506,1860494

200606,1946039

200706,1990231

200806,1978204

200906,1903307

201006,1873990

201106,1855523

201206,1886259

201306,1912777

201406,1981287

201506,2057488

201606,2126152

201706,2208812

201806,2292952

201906,2391380

199907,1604886

200007,1605966

200107,1654691

200207,1689100

200307,1729695

200407,1796584

200507,1870868

200607,1953536

200707,1989870

200807,1965921

200907,1893012

201007,1863136

201107,1847043

201207,1878124

201307,1904422

201407,1975893

201507,2058016

201607,2132749

201707,2215506

201807,2306538

201907,2392982

199908,1595958

200008,1606272

200108,1642867

200208,1694967

200308,1729691

200408,1790883

200508,1875603

200608,1958179

200708,1986239

200808,1966181

200908,1878273

201008,1863279

201108,1850762

201208,1880089

201308,1906027

201408,1982457

201508,2062225

201608,2137298

201708,2215958

201808,2297320

201908,2389376

199909,1600052.0

200009,1620675.0

200109,1659968.0

200209,1707218.0

200309,1736622.0

200409,1796539.0

200509,1882879.0

200609,1966730.0

200709,1996647.0

200809,1971910.0

200909,1875567.0

201009,1870834.0

201109,1864723.0

201209,1903003.0

201309,1924789.0

201409,2003395.0

201509,2073948.0

201609,2154421.0

201709,2244514.0

201809,2327702.0

199910,1604937.0

200010,1627557.0

200110,1668426.0

200210,1708424.0

200310,1749473.0

200410,1812156.0

200510,1898907.0

200610,1984257.0

200710,1997239.0

200810,1978295.0

200910,1875513.0

201010,1873228.0

201110,1876642.0

201210,1913210.0

201310,1919452.0

201410,2021500.0

201510,2087268.0

201610,2162529.0

201710,2240720.0

201810,2338006.0

199911,1614940.0

200011,1633557.0

200111,1667790.0

200211,1710633.0

200311,1762317.0

200411,1821557.0

200511,1905650.0

200611,1988557.0

200711,2006408.0

200811,1973787.0

200911,1883069.0

201011,1873822.0

201111,1885736.0

201211,1913745.0

201311,1944685.0

201411,2035751.0

201511,2101642.0

201611,2180458.0

201711,2259862.0

201811,2357448.0

199912,1622822.0

200012,1647067.0

200112,1673006.0

200212,1709692.0

200312,1765233.0

200412,1824292.0

200512,1909234.0

200612,1993927.0

200712,1999262.0

200812,1958144.0

200912,1866026.0

201012,1873316.0

201112,1887097.0

201212,1914778.0

201312,1946512.0

201412,2033919.0

201512,2101329.0

201612,2172226.0

201712,2252445.0

201812,2354244.0

In [12]:
def get_month(date):
    year = date.year
    month = date.month
    return (year*100)+month

In [14]:
#Get Zillow data
data_file = "Zillow_pivot_cleaned.csv"
label_file = "Phoenix_Zillow_Codes.xlsx"
labelsdf = pd.read_excel(label_file)
labelsdf = labelsdf.drop(labelsdf.columns[2],axis=1)
df = pd.read_csv(data_file,parse_dates=['Date'])
for code in df.columns:
    if code!='Date':
        df[code] = df[code].astype(float)
df.head()
df["Month"] = df["Date"].apply(get_month)
df.head()

,Date,C36159_BSICG,C36159_BSICT,C36159_DOZ,C36159_FOR10K,C36159_MDLNSAH,C36159_MDLSAAH,C36159_MLNSAH,C36159_MLSAAH,C36159_MTURN,...,C36159_SCSAMT,C36159_SCSATT,C36159_SCTT,C36159_SP,C36159_SPBT,C36159_SPFS,C36159_SPMT,C36159_SPTT,C36159_STLR,Month
0,2008-01-31,NaN,NaN,NaN,8.17,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200801
1,2008-02-29,NaN,NaN,NaN,9.26,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200802
2,2008-03-31,NaN,NaN,NaN,9.89,NaN,NaN,NaN,NaN,0.0032,...,384.0,291.0,238.0,221500.0,156900.0,NaN,244300.0,465500.0,NaN,200803
3,2008-04-30,NaN,NaN,NaN,13.97,NaN,NaN,NaN,NaN,0.0039,...,349.0,260.0,314.0,212600.0,147400.0,NaN,240300.0,428200.0,NaN,200804
4,2008-05-31,NaN,NaN,NaN,14.80,NaN,NaN,NaN,NaN,0.0042,...,372.0,257.0,335.0,204600.0,137300.0,NaN,233500.0,413900.0,NaN,200805