In [12]:
import quandl
import requests
import pandas as pd

api = 'J_HrfjBUR71q8LvXPspX'
quandl.ApiConfig.api_key = 'J_HrfjBUR71q8LvXPspX'

In [13]:
#ZILL/{AREA_CATEGORY}{AREA_CODE}_{INDICATOR_CODE}


Median_Listing_Price_All = quandl.get("ZILLOW/M14_MLPAH", authtoken="J_HrfjBUR71q8LvXPspX")

In [15]:
Median_Listing_Price_All.head()

               Value
Date
2010-01-31  169900.0
2010-02-28  165000.0
2010-03-31  163000.0
2010-04-30  159935.0
2010-05-31  156000.0